.conteiner-principal {
  background-color:aquamarine ;
  position: absolute;
  left: auto;
  width: 1200px;
  height: auto;


}
form h1 {
  color: aquamarine;
}

form button {
  position: relative;
  padding: 10px;
  color: aqua;

}
